.floating-contact-card {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ddd1b9;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 15px;
  z-index: 1000;
  width: 250px;
  transition: all 0.3s ease;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .floating-contact-card {
    width: 200px;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .floating-contact-card {
    width: auto;
    right: 10px;
    left: 10px;
    bottom: 10px;
    padding: 10px;
  }
}

/* For very small screens */
@media (max-width: 340px) {
  .floating-contact-card {
    padding: 8px;
  }

  .contact-number dd {
    font-size: 14px;
  }

  .contact-number dd {
    font-size: 10px !important;
  }
}

.floating-contact-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.floating-contact-card h4 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
  font-size: 15px;
  font-weight: 600;
}

.contact-number {
  display: flex;
  align-items: center;

  margin-bottom: 8px;
  justify-content: start;
}

.contact-number i {
  margin-right: 10px;
  color: rgb(75, 49, 12);
  flex-shrink: 0; /* Prevents icon from shrinking */
}

.contact-number dd {
  color: #383737;
  text-decoration: none;
  font-size: 13px;
  word-break: break-word; /* Ensures text wraps properly */
  margin-top: 8px;
}

.contact-number:hover {
  color: rgb(75, 49, 12);
}
